<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <logger name="dk.gormkrings" level="INFO" />
</configuration>
